[2020-04-07 10:47] Maadhav opened #1 "How can I implement this widget without using Provider in my app?"

[2020-04-07 13:29] medyas commented on #1
the core library does not use `provider `or any other package, its pure `Flutter`. I used the `provider `package in the example app for better state management.
The example can be made like this:

[code]

or if you have multiple pages to display:
[code]

[2020-04-07 13:53] Maadhav commented on #1
OK Thanks!

[2020-04-07 14:28] #1 closed

[2020-04-11 21:15] vptcnt opened #2 "Using with Scaffold ?"
Hello,

The design is awesome.
Is it possible to use it with a scaffold ? I am newbie in Flutter.
Thanks for your help

Vincent

[2020-04-11 21:51] medyas commented on #2
Hi,
The package wrap around two screens, and it's up to you to put what ever widget you want. Here is a snippet from the example:
[code]

Your `mainScreen` can be a `Scaffold` with your page inside.
In the example i user `PageStructure `which is a widget with support for both Android and iOS (shows `Scaffold `on Android and `CupertinoScaffold `in iOS)

[2020-04-15 13:50] #2 closed

[2020-04-24 01:25] ElZombieIsra opened #3 "Add ability to know if the drawer is opened or closed"
I'm currently working with this plugin (pretty great, btw) but I see is lacking the ability to know if the drawer is opened or closed.
I think this is a very important feature to this plugin.
I guess this could be implemented in the ZoomDrawerController.

When I have a little more free time I can work on this if you can't

[2020-04-24 02:12] medyas commented on #3
Thank you for the feedback, and will add this in the next 48h

[2020-04-24 02:21] medyas commented on #3
Quick question, will rather two booleans isOpen and isClosed or a drawer status enum ?

[2020-04-24 02:53] ElZombieIsra commented on #3
I was thinking a boolean in the ZoomDrawerController called isOpen. That seems enough. What do you think?

[2020-04-24 11:44] medyas commented on #3
Yeah, that's fine with me. Will work on it today.

[2020-04-24 12:53] medyas commented on #3
Have added :
[code]

which will return a `bool` whether the drawer is fully open or not.
[flutter_zoom_drawer](https://pub.dev/packages/flutter_zoom_drawer/versions/1.0.2)

will close this issue, i have an issue with the implementation of the feature open it again.

[2020-04-24 12:53] #3 closed

[2020-04-24 16:39] TheMisir opened #4 "Missing images in README"
![image](https://user-images.githubusercontent.com/29130291/80236092-b2f14380-866b-11ea-9599-f787a9a2039d.png)

[2020-04-24 16:56] medyas commented on #4
The problem is with GitHub, it sometimes does not load images that are in readme. You can either open the links in a new tab or you view the package in pub: https://pub.dev/packages/flutter_zoom_drawer

[2020-04-24 16:56] #4 closed

[2020-04-27 08:15] sarvex opened #5 "Failed assertion: boolean expression must not be null [Flutter Web]"
════════ Exception caught by widgets library ═══════════════════════════════════════════════════════
The following assertion was thrown building MenuScreen(dirty, state: _MenuScreenState#2bbc9):
Failed assertion: boolean expression must not be null

The relevant error-causing widget was:
  MenuScreen file:/drawer/home_page.dart:36:19
When the exception was thrown, this was the stack:
dart-sdk/lib/

[2020-04-27 12:51] medyas commented on #5
**Updated**
After running the web version, i found out that this is not related to the package it self but to the example. There are couple of calls to `Platform.isAndroid/Platform.isIos` which are causing this error.
To fix this, just test for web support first:

`import 'package:flutter/foundation.dart' show kIsWeb;`
`MenuPage`: `final style = kIsWeb? androidStyle : Platform.isAndroid? androidSt

[2020-04-29 13:31] #5 closed

[2020-05-01 19:56] Activecode001 opened #6 "I can't use this pachage ..."
sorry,
i'm new in flutter
but i will use this package
can you put full example to explain it
The design is awesome.
thank you for help

[2020-05-01 20:01] medyas commented on #6
@Activecode001 The full example is already available under `example`:[Example app]( https://github.com/medyas/flutter_zoom_drawer/tree/master/example)

[2020-05-01 20:01] #6 closed

[2020-05-01 22:39] Activecode001 commented on #6
thank you
but i can't use it by provider
can use it without provider?

[2020-05-01 22:42] medyas commented on #6
yes you can: [Link](https://github.com/medyas/flutter_zoom_drawer/issues/1#issuecomment-610387440)

[2020-05-15 01:57] sarvex commented on #5
Thanks a lot. Will check and report back

[2020-05-22 09:30] savandev17 opened #7 "How to add "bottom navigation bar""
Thank you very much for your best plugin, I tried to use it but I can't add the "bottom nav bar", could you please advise.

[2020-05-22 14:21] medyas commented on #7
are you using the example code or trying your own implementation ?

[2020-05-22 15:38] savandev17 commented on #7
Thanks for your response, I used the main code from your example, I want to add "bottom navigation bar" but can't handle state (setState) on item change because "page_structure" is used stateless widget
please see my code below:

[code]

[2020-05-22 16:00] medyas commented on #7
You can convert the `PageStructure` to a statefull widget using you IDE. in Intellij ALT+ENTER with show a menu, which has change to statefull, and it will convert the widget to statusfull.

[2020-05-22 16:09] savandev17 commented on #7
Cool, I try to convert stateless to stateful via IDE then can use setState to get a tab index on item changed, but how to parse tab index to function (updateCurrentPage on file home_screen) to change each screen,
That I want is image below

![2020-05-22_23-03-29](https://user-images.githubusercontent.com/34710166/82687211-3610b400-9c81-11ea-8f05-fdaf616dfafe.png)

[2020-05-22 19:28] medyas commented on #7
Pass a function to pagestructure which updates the current index

[2020-05-23 01:46] savandev17 commented on #7
I still can't succeed, can you add bottom navigation bar on next version?, your plugin will be perfect

[2020-05-23 02:15] medyas commented on #7
Will update the example in the morning

[2020-05-23 03:40] savandev17 commented on #7
Awesome, awaiting you I don't want to miss your plugin on my project, I very need it.

[2020-05-23 15:16] medyas commented on #7
@savandev17  I have updated the master branch example with bottomNavBar. hope it helps

[2020-05-24 03:06] savandev17 commented on #7
@medyas Thank you very much for your support.

[2020-05-24 03:06] #7 closed

[2020-06-09 15:11] kw2019ltd opened #8 "getting Unhandled Exception: Bad state: You cannot close the subject while items are being added from addStream"
hi
i copied the example you provided , i am getting below error in logs while trying to press back button.

see below

![image](https://user-images.githubusercontent.com/47334522/84165627-9a52b680-aa7c-11ea-92b8-1f2be772a4fa.png)

[code]

Performing hot reload...
Syncing files to device HD1903...
Reloaded 3 of 1365 libraries in 529ms.
E/flutter ( 4181): [ERROR:flutter/lib/ui/ui_dart_state.cc(157)]

[2020-06-09 15:16] medyas commented on #8
This is the wrong repo, please move the issue to the flutter_qiblah repo

[2020-06-09 15:16] #8 closed

[2020-06-09 16:27] RockinPaul opened #9 "Open with a swipe"
Is it possible to open Drawer by swiping on the content page?
Currently, I've implemented Drawer based on your example and the only way to interact with it by swipe is closing.
Thanks for this awesome package!

[2020-06-09 17:23] medyas commented on #9
@RockinPaul You want to open/close the drawer using swipe event(swipe right/left) ?

**Updated**
I have added the swipe to open in the example code, please check it out: [Link](https://github.com/medyas/flutter_zoom_drawer/blob/dfe636853084bd1ca28fa8860ebcc363e85e3671/example/lib/home_screen.dart#L61)

[2020-06-10 08:19] RockinPaul commented on #9
Yep, this is exactly what I'm looking for.
Thank you so much, you're a lifesaver!

[2020-06-10 08:19] #9 closed

[2020-06-25 13:02] alibasta opened #10 "Disable taps on content elements"
Thanks for this great flutter menu!
I'm wondering how you would disable taps on the content page while the menu is open. I experienced some problems with buttons on the content page being tappable while the menu is open and I would like to deactivate them if the drawer is visible.
Thanks!

[2020-06-25 17:21] medyas commented on #10
Hi, thanks for the feedback.
To stop receiving gestures in the main content when the drawer is open, you can wrap you content with [`AbsorbPointer `](https://api.flutter.dev/flutter/widgets/AbsorbPointer-class.html) widget.

The `AbsorbPointer`, `absorbing ` parameter, if set to `true `it will deactivate all event made to the child widget. so you can update the value of absorbing ` based on the cu

[2020-06-26 07:11] alibasta commented on #10
Thanks! Thats exactly what I've already tried so far. The problem ist that the `isOpen()` is updated after the second tap when I tested it. Thats what I added inside my draw container inside `return NotificationListener()`:
[code]

[2020-06-26 12:00] medyas commented on #10
Hi, I have updated the package [[`flutter_zoom_drawer: ^1.0.4`](https://pub.dev/packages/flutter_zoom_drawer#-readme-tab-)] and added a `ValueListener `with the drawer state which allows you to be notified of the state updates and can update you widgets accordingly.
Here is the updated example

[code]

[2020-06-27 09:44] medyas commented on #10
@alibasta have this solved your issue ?

[2020-06-29 07:21] alibasta commented on #10
Hi @medyas It works like a charm now! Thank you very much! Sorry for responding late.

[2020-06-29 07:21] #10 closed

[2020-07-09 08:41] houdayec opened #11 "Improvement: Slide back menu when opened"
Hi. Thanks for your package, really nice job.

However, I would like to know if it is possible to close the drawer when its opened, by swiping or clicking the view on the right.

Thanks in advance

[2020-07-09 09:09] houdayec commented on #11
I updated your ZoomDrawer widget and modified the build method to get gestures callbacks on all the stack, not only the menu.

[code]

[2020-07-09 10:05] medyas commented on #11
@houdayec hello, Thanks for your feedback.
Wrapping the hole `Stack` widget with `GestureDetector` will probably disable any events going to the bottom widget tree and its not a good thing to do in the plugin side. If you want to capture events to close  the widget while it's open, you can add this in your code rather then in the plugin as its supposed to be for general use.
You can check for the

[2020-07-09 10:31] zwchenlong opened #12 "How to close the drawer after selecting the menu item?"
Dear Sir,

I tried to call ZoomDrawer.of(context).close() under the function assigned to menuScreen's callback, but I got the error showing I am calling a null function.

I also tried to call by using _drawerController.close(), but also got the same result.

May I know the solution on this?  Thank you.

[2020-07-09 11:04] medyas commented on #12
@zwchenlong are you running the example app ? and did you pass the controller as :

[code]

[2020-07-09 13:15] zwchenlong commented on #12
No, but I employed your sample code to my project and find that doesn't work.  Since the sample is working.  I'll take a further look to see what the problem is.  Thank you.

[2020-07-09 13:15] #12 closed

[2020-07-17 16:18] #11 closed

[2020-07-20 22:46] houdayec commented on #11
Hi!

Thanks for your answer and sorry for the late reply.

I have tried this solution, but I finally encountered a problem: using this value listener forces child rebuild which is very annoying. Do you have the same problem using this solution?

[2020-07-21 08:27] medyas commented on #11
The ValueListenableBuilder will call it's builder function each time it get notified of a new drawer state. To minimize you page rebuilds you can provide the child parameter and use it in the builder function, same as the example. This will reduce the page rebuilds. In the example project, the PageStructure will only be built once, and then used from the child parameter.
If your having multiple re

[2020-07-21 08:30] houdayec commented on #11
Yes that is what I did, I think I'm having child updates that lead to a widget rebuild. I'm going to investigate deeper. Thanks anyway for the workaround.

[2020-07-21 10:16] Chiida commented on #8
Hi @kw2019ltd
Did you solve your problem related to "Stateful Element.unmount (package:flutter/src/widgets/framework.dart:4729:12)"?
I'm also having that problem on another app, and I coudn't find a solution for that.

[2020-07-21 11:08] kw2019ltd commented on #8
Hi issue moved to other plugin and issue opened on flutter compass plugin

On Tue, Jul 21, 2020, 13:16 Faruk Ćidić <notifications@github.com> wrote:

[2020-07-27 15:28] devZakariya opened #13 "Example using BloC pattern"
Dear Sir,
Hello,
Thanks for this great flutter menu!

please how can  i integrate this package with the BloC pattern

[2020-07-27 18:05] medyas commented on #13
Hi @devZakariya ,
Both Provider and BloC are state management packages, and it depends on the developers preference to implement what they like.
Based on the [BloC usage](https://pub.dev/packages/flutter_bloc#usage) you could use a `Cubit` and in it manage the current page index, then use it in the Widget tree and update the current page.

[code]

in HomeScreenState class :

[code]

in PageStructu

[2020-07-27 18:42] devZakariya commented on #13
thank you a lot for the fast response

[2020-07-27 18:42] #13 closed

[2020-07-31 21:38] peswanibros opened #14 "On landscape mode side menu does not scroll and have area error (yellow and black)"
Hi I tried to wrap it in Expanded widget but then menu does not shows. How can make menus scrollable in landscape mode

[2020-07-31 22:07] medyas commented on #14
@peswanibros This plugin allows to implement the drawer and it's up to you to support both portrait and landscape layout in you build method.
If you run the example app, and had overflow errors, it's because i have not tested it on landscape, your more then welcome to submit a pull request with a fix of the error otherwise each person will implement the plugin in his/her own project and have suppo

[2020-07-31 22:07] #14 closed

[2020-08-11 03:30] ElZombieIsra opened #15 "Null stateNotifier on ZoomController"
Hi.

I was using this package and I was trying to use one of the latests features that its the `stateNotifier` in the `ZoomController` but I got the error `The getter 'value' was called on null.`

This is a sample class that should demonstrate the error

[code]

The question is:
Am I using wrong the `ZoomController` or its a package wide problem?

[2020-09-03 17:56] medyas commented on #15
@ElZombieIsra sorry for the late response.
Your trying to access the controller before its initialized.
Try putting your `AbsorbPointer `widget inside a `Builder `or in an Stateless widget and use `ZoomDrawer.of(context)` to access the `stateNotifier`

[2020-09-10 10:52] #15 closed

[2020-09-14 08:06] Eng-MohamedGadala opened #16 "can't close drawer"
Hi, a dear friend  can you help me  when I open a drawer from the menu icon on the home screen I can't close it from the home screen when press on the same button opens the drawer
after downloading the example and run it the is the same only close when drag to left.
 how can I fix it?
 I need to close the drawer from the same menu button I open it from?
![Simulator Screen Shot - iPhone 11 Pro Max

[2020-09-14 08:07] Eng-MohamedGadala commented on #16
@medyas

[2020-09-14 11:12] medyas commented on #16
Hello, The app already have a toggle function set on the Drawer button [Link](https://github.com/medyas/flutter_zoom_drawer/blob/a431ba536ab69af0e05cdefdbfa64084a1449b74/example/lib/page_structure.dart#L61). But with the updates to the example as a lot of people ask how to implement stuff in the example app, i had to change some things and that's why the example app Drawer toggle does not work.
To

[2020-09-14 21:26] Eng-MohamedGadala commented on #16
ok thanks It's work

[2020-09-14 21:26] #16 closed

[2020-09-18 12:04] mrruby opened #17 "AnimationController disposed"
How can I dispose AnimationController of _ZoomDrawerController?
Maybe you can expose it somehow?

I'm getting
[code]

[2020-09-18 14:08] medyas commented on #17
The `AnimationController ` is disposed in the dispose method of the `StatefullWidget`.
@mrruby  Can you specify how are you getting this error ?

[2020-09-20 18:20] mrruby commented on #17
No issue again for now 👍

[2020-09-20 18:20] #17 closed

[2020-11-24 19:22] chauhanumesh opened #18 "Facing issue with RTL support"
I had run the example code with only Arabic locale but the drawer menu doesn't toggle as expected
Please refer image for further clarification.

![1606245173722](https://user-images.githubusercontent.com/63291590/100141360-50d61680-2eb8-11eb-928a-d3571b51f6ff.JPEG)

[2020-11-24 19:25] medyas commented on #18
@chauhanumesh you app in Arabic language but the system language is not Arabic. The drawer RTL/LTR support is based on the system language and not the app. you need to change the system language for the RTL support to work.

[2020-11-24 19:42] chauhanumesh commented on #18
ok, Got it.
Thanks for the quick reply :)

[2020-11-24 19:42] #18 closed

[2020-11-27 06:22] aria-grande opened #19 "[Bug] Drawer state is disposed before controller is disposed"
Hi, thanks for making awesome library.

# Issue
By the way, I am getting exceptions as below.
![Screen Shot 2020-11-26 at 9 40 55 PM](https://user-images.githubusercontent.com/16955811/100415165-59515d00-3030-11eb-9fe3-2c6636263ba5.png)

# Suggestion
animationController should be disposed before super.dispose. Otherwise, the state is disposed before the animation controller and ticker will leak

[

[2020-11-27 14:41] medyas commented on #19
Hello, thanks for the suggestion.
I have published a new version with the fix [1.0.4+1]

[2020-11-27 14:41] #19 closed

[2020-12-07 23:34] coolbeatz71 opened #20 "Control the animation duration"
Hey, @medyas is it possible to control the animation duration. I would like to reduce the duration of the `closeCurve` animation as it's too slow.

[2020-12-27 03:43] #20 closed

[2021-01-25 11:51] rvdsoft opened #25 "Add option to chance scale of main screen"
At the moment the scale of the main screen (when drawer is open) is a fixed percentage that can't be changed.
For each style (with some exceptions) `0.3` is used as fixed scale percentage:
[code]
This fixed value could be replaced with a widget attribute to make it part of the public API:
[code]

[2021-01-25 12:22] medyas commented on #25
@rvdsoft you can submit a pull  request, and will be happy to merge

[2021-02-08 14:59] LebToki commented on #25
How do you trigger mainScreenScale then ?

[2021-02-08 15:00] LebToki opened #26 "Language Change button"
Can you kindly introduce one one of the pages a settings page with a language radio or pulldown list

[2021-02-17 18:50] medyas commented on #26
this is unrelated to the packages it self, but to the example so am closing it.

[2021-02-17 18:50] #26 closed

[2021-02-17 19:04] #25 closed

[2021-02-24 18:05] dmrcierhn opened #27 "I can't scroll the screen"
I'm trying to use a webview on the home screen, but when I want to scroll up, the menu opens. and I can't use webview. how can i fix this? thank you

[2021-02-24 18:36] medyas commented on #27
you will have to disable the swipe gesture on the menu, which is currently not implemented.
you could submit a pull request with the fix or wait for me to add this(will try to see if i could do it this weekend).

[2021-02-24 18:38] dmrcierhn commented on #27
How can I disable the swipe gesture?

[2021-02-24 18:55] medyas commented on #27
you will have to edit the package source

[2021-02-24 19:00] dmrcierhn commented on #27
which code block should I check?

[2021-03-03 00:55] develogo commented on #27
The same happens with maps

[2021-03-03 01:06] develogo commented on #27
@dmrcierhn you can fork this repo and edit lib/flutter_zoom_drawer.dart  line 261.

Replace
@override
  Widget build(BuildContext context) {
    return GestureDetector(
      /// Detecting the slide amount to close the drawer in RTL & LTR
      onPanUpdate: (details) {
        if (_state == DrawerState.open && details.delta.dx < -6 && !_rtl ||
            details.delta.dx < 6 && _rtl) {

[2021-03-07 10:26] leynier opened #28 "Null safety support"
I will make a PR with null safety support implementation

[2021-03-07 18:29] medyas commented on #28
added in the latest version

[2021-03-07 18:29] #28 closed

[2021-03-07 18:30] medyas commented on #27
I have added a new parameter `disableGesture` which allows you to disable the swipe gesture on the home page

[2021-03-07 18:30] #27 closed

[2021-03-12 17:24] SaylaRdota opened #29 "Is very slow in release build, we need 60 fps"

[2021-03-12 19:23] medyas commented on #29
can you share your app ? and how are you testing the fps ?

[2021-03-13 01:35] SaylaRdota commented on #29
Are you testing the Drawer Sliding with rotation and shadows in release?. In my case in release is not fluid. My phone is Android Xiaomi note 8 pro, 6 ram, 8 cores.

[2021-03-13 01:48] alejandrogiubel commented on #29
Same here. In fisics devices the animation is not totaly fluid.

[2021-03-13 10:52] medyas commented on #29
maybe you rendering alot of widgets in the home screen which causes performance issues ?
can you share you code ?

[2021-03-18 07:27] YaseenSaif opened #30 "when I change the localization to arabic RTL does not work as shown in the figure bellow ?"
![aaa](https://user-images.githubusercontent.com/52496812/111588384-89399180-87d4-11eb-8efd-8a4e0686ec6b.PNG)

[2021-03-18 08:27] medyas commented on #30
can you provide a snippet of your code

[2021-03-18 08:41] YaseenSaif commented on #30
I have downloaded the provided example and tried it in the emulator directly ,I did not change any thing yet ..what is the problem do u think?

[2021-03-18 09:32] medyas commented on #30
ok, will try to check it in the weekend and get back to you

[2021-03-18 09:47] YaseenSaif commented on #30
thanks a lot

[2021-03-19 18:08] finroly opened #31 "Always open drawer"
Hi thanks for the nice package I am using it in my app. However on tablets, desktop and web I want the drawer to always open. can you please guide what will be the best practice for it. also slideWidth not working. it always takes 80% of the screen if we don't give any style.

[2021-03-23 19:57] medyas commented on #31
if you want to have support for multiple layouts you will have to make a custom implementation based on the screen size

[2021-03-23 19:57] #31 closed

[2021-03-24 11:30] fede1295 opened #33 "Properties like borderRadius, showShadow, angle no longer work"
Reproduced with different versions of module, flutter and dart but it doesn't work anymore in any way...

on Nov 27, 2020
https://github.com/medyas/flutter_zoom_drawer/blob/fc50763049bff751449c8225fef92d9286779c1b/lib/flutter_zoom_drawer.dart

this bug was not there.. please fix it

[2021-03-24 14:00] medyas commented on #33
ok will work on it

[2021-03-25 11:50] medyas commented on #33
`showShaow` and `angle` are only available in `DrawerStyle.Style1`
I added borderRadius to supported styles

[2021-03-25 15:14] medyas commented on #30
fixed in latest release

[2021-03-25 15:14] #30 closed

[2021-03-25 15:17] #33 closed

[2021-03-25 15:17] medyas commented on #29
@SaylaRdota  ?

[2021-04-02 15:14] EinatK opened #35 "Both sides support"
Amazing package, beautiful drawer!
I need this drawer on both sides, triggered from 2 different buttons, showing 2 different menus.
In scaffold terms - have both a drawer and endDrawer.
Do you think I can easily use your package and do this?

[2021-04-02 15:58] medyas commented on #29
closing as there is no response.

[2021-04-02 15:58] #29 closed

[2021-04-02 16:50] #35 closed

[2021-04-28 15:13] finroly opened #36 "On a page the drawer open and close itself when moving finger up or down"
This does not looks  good.

[code]

[code]
https://user-images.githubusercontent.com/3175196/116427349-929d2b80-a861-11eb-8757-d9f1232f0615.mp4

[2021-04-28 15:26] #36 closed

[2021-05-05 12:13] nholmvio opened #37 "behavior at start up"
Hi...thanks for your work on this package.

I'm noticing on startup of my app, the Drawer contents are being shown for a brief second before the actual main screen gets rendered, rather than drawing the main screen (and keeping drawer hidden)

I'm sure i'm just doing something wrong here in my implementation.   Does anyone have any suggestion on where i may be going wrong that causes this behavior

[2021-05-05 12:34] medyas commented on #37
can you share an example to reproduce the issue ?

[2021-05-05 12:44] nholmvio commented on #37
Thanks for the quick response!

I don't have a small standalone (I may need to do that).

I don't think i'm doing anything unique, and trying to follow example...  Any thing this sparks idea to try?

Thanks so much.

[code]

[2021-05-05 12:55] nholmvio commented on #37
Ah....i found it, i had a slight fade delay buried down  in the main screen build causing that slight visibility of the drawer!

Thanks again for quick replies and the nice work on this package.

[2021-05-05 12:55] #37 closed

[2021-05-12 07:39] Tokenizer94 opened #38 "'Locale' is from 'dart:ui'"
Hi. I have this issue when running on the web with null-safety

flutter_zoom_drawer-2.0.1/lib/flutter_zoom_drawer.dart:106:38: Error: Property 'languageCode' cannot be accessed on 'Locale?' because it is potentially null.
 - 'Locale' is from 'dart:ui'.
Try accessing using ?. instead.
    String locale = ui.window.locale.languageCode.toLowerCase();
                                     ^^^^^^^^^^^^

[2021-05-12 07:44] Tokenizer94 opened #39 "Add "fa" to RTL languages"
Hi. Please add the Persian ("fa") language to RTL languages list. Thanks

[2021-05-12 08:44] medyas commented on #38
hello, this has been fixed in the latest version

[2021-05-12 08:44] #38 closed

[2021-05-12 08:44] medyas commented on #39
Done

[2021-05-12 08:44] #39 closed

[2021-05-12 09:42] Tokenizer94 opened #40 "String? locale = ui.window.locale?.languageCode?.toLowerCase();"
You fixed the null-safety error for locale but another error created. Please fix this too.

flutter_zoom_drawer-2.0.2/lib/flutter_zoom_drawer.dart:106:32: Warning: Operand of null-aware operation '?.' has type 'Locale' which excludes null.
 - 'Locale' is from 'dart:ui'.
    String? locale = ui.window.locale?.languageCode?.toLowerCase();

I suggest use this:
String? locale = ui.window.locale.langua

[2021-05-12 11:09] medyas commented on #40
the message your getting is a warning and not an error.

[2021-05-12 11:10] #40 closed

[2021-05-13 22:22] Tokenizer94 opened #41 "RTL problem"
Hi. When I set RTL to true then at the start of the screen the drawer is open for one second and then it close. This happens only in RTL mode.
My app Locale is "fa" and my device language is English.
It happens in your last update.

[2021-05-18 10:23] zneti-sourour opened #42 "all is working fine. But i have this warning"
/C:/src/flutter/.pub-cache/hosted/pub.dartlang.org/flutter_zoom_drawer-2.0.2+1/lib/flutter_zoom_drawer.dart:106:30: Warning: Operand of null-aware operation '!' has type 'Locale' which excludes null.
 - 'Locale' is from 'dart:ui'.
    final locale = ui.window.locale!.languageCode.toLowerCase();

[2021-05-18 10:34] zneti-sourour commented on #40
I didn't understand how to solve this warning. where i can put this :  String? locale = ui.window.locale.languageCode!.toLowerCase();

[2021-05-18 11:20] medyas commented on #42
@zneti-sourour this is just a warning, will not cause any issue

[2021-05-18 11:31] medyas commented on #41
@Tokenizer94 sorry for the late answer, will try to check this in the weekend

[2021-05-20 19:00] oguzhan2142 commented on #42
same warning

../../Frameworks/flutter/.pub-cache/hosted/pub.dartlang.org/flutter_zoom_drawer-2.0.2+1/lib/flutter_zoom_drawer.dart:106:30: Warning: Operand of null-aware operation '!' has type 'Locale' which excludes null.
 - 'Locale' is from 'dart:ui'.
    final locale = ui.window.locale!.languageCode.toLowerCase();
                             ^

[2021-05-21 10:05] ZaifSenpai commented on #42
same

[2021-05-21 12:00] ZaifSenpai opened #43 "Add shadow to MainScreen"
How can we show the shadow of MainScreen to the background below?

![image](https://user-images.githubusercontent.com/16265942/119133944-f2988380-ba55-11eb-8ced-fa819d39526d.png)

[2021-05-21 18:37] medyas commented on #43
did not understand, can you explain your issue

[2021-05-21 18:55] medyas commented on #41
just tested with device locale en and app locale ar, and this issue did not occur.
Can you provide reproducible example

[2021-05-21 19:51] ZaifSenpai commented on #43
This is showing a drawer open. The MainScreen on the Left does not have any shadow. What I am trying to do is to give a shadow to the MainScreen (something like on the right)

![image](https://user-images.githubusercontent.com/16265942/119191114-aa9a5080-ba97-11eb-8d6b-513582306bd3.png)

[2021-05-21 19:53] ZaifSenpai commented on #43
This is showing a drawer open. The MainScreen on the Left does not have any shadow. What I am trying to do is to give a shadow to the MainScreen (something like on the right)

![image](https://user-images.githubusercontent.com/16265942/119191420-095fca00-ba98-11eb-8e80-62d58b999843.png)

[2021-05-21 19:55] medyas commented on #43
then just wrap your mainscreen with a container and add shadow to it, that should give you what you want.
this is not related to the plugin it self so will close it

[2021-05-21 19:55] #43 closed

[2021-05-21 20:00] ZaifSenpai commented on #43
of course, I have already tried it. I do not want the shadow inside the MainScreen, I want it outside of it. If I add padding to MainScreen and add shadow to show it, this drawer widget will cut off the shadow (clip) and show a square.

[2021-05-21 20:05] medyas commented on #43
you can set the borderRadius parameter to 0.0 . by this, mainscreen won't be clipped

[2021-05-21 20:06] ZaifSenpai commented on #43
![image](https://user-images.githubusercontent.com/16265942/119192689-f817bd00-ba99-11eb-8d50-c3dae71f4870.png)

[2021-05-21 20:10] medyas commented on #43
@ZaifSenpai working on a fix right now

[2021-05-21 20:15] medyas commented on #43
added a bool parameter clipMainScreen, set it to false and it will show mainscreen without clipping.
`flutter_zoom_drawer: ^2.0.2+3`

[2021-05-21 23:18] ZaifSenpai commented on #43
@medyas Thank you! It worked:
![image](https://user-images.githubusercontent.com/16265942/119206489-bba58a80-bab4-11eb-856b-23fea36e803e.png)

[2021-05-23 11:45] mustafa-fahimi commented on #41
@medyas This happens when the version is above 2.0.2.
Maybe it's because you added the Persian language ("fa") into the RTL list. But I'm not sure about it.

[2021-05-23 13:05] medyas commented on #41
well i tested with the latest version.
can you provide a sample project ?

[2021-05-24 17:47] medyas commented on #42
fixed in latest version

[2021-05-24 17:47] #42 closed

[2021-05-25 02:06] zizaihuan opened #44 "Shadow suggestion"
I suggest to provide ways to change Shadow, such as to change the opicity.

[2021-05-25 08:03] medyas commented on #44
can you provide more details ?

[2021-06-02 02:10] InfinityCoder88 opened #45 "Does flutter_zoom_drawer working on web apps?"

[2021-06-02 16:47] medyas commented on #45
yes

[2021-06-02 16:47] #45 closed

[2021-06-03 02:18] nguyenlinhnttu opened #46 "Library can't build for web app"
Hi Medyas, thanks for your library, i have problem when run web app, please help me have a look.

`💪 Building with sound null safety 💪

Target dart2js failed: Exception: ../../FlutterSDK/flutter/.pub-cache/hosted/pub.dartlang.org/flutter_zoom_drawer-2.0.2+3/lib/flutter_zoom_drawer.dart:117:31:
Error: Property 'languageCode' cannot be accessed on 'Locale?' because it is potentially null.
 - 'Locale

[2021-06-03 10:53] medyas commented on #46
fixed in latest version

[2021-06-03 10:53] #46 closed

[2021-06-04 11:11] devrajraut commented on #42
I still have this Error in the Latest Version 2.0.2+4

[2021-06-06 12:13] finroly opened #47 "Operand of null-aware operation '!' has type 'Locale' which excludes null."
[code]

[2021-06-07 09:27] EngAL-shikh commented on #41
LTR not working
so border

[2021-06-08 15:06] MichalNemec opened #48 "Style 1 drag menu jittering"
Hello, in your example if i set style1 and try to just drag and hold the menu button to show the drawer, its jittering and all over the place.

Could you do something with that? and also on Flutter 2 it yells about the same thing still which is in issue #47

[2021-06-08 20:21] medyas commented on #48
can you provide  more details about the issue? does not occur in my test. Could you share a video or some code

[2021-06-09 07:13] MichalNemec commented on #48
i downloaded your whole project and just ran example you have there.
Changed DrawerStyle to Style1.
then keep holding the menu icon and move left and right like crazy person and it then goes all over the place.
Another visual stuff is when the menu is opened and going back to full screen view, its not smooth.

Could it be that im running it inside android emulator?

[2021-06-10 08:35] enzo-desimone commented on #47
i have the same issue

[2021-06-12 13:47] jemaineosia commented on #47
I am getting the same error.

[2021-06-12 16:52] medyas commented on #47
this is just a warning, and removing the null safety operator will cause the app not to build. so just ignore it for now.

[2021-06-12 16:53] #47 closed

[2021-06-12 16:54] medyas commented on #48
to test the performance you will have to run the app in release mode and in a real device, not an emulator

[2021-06-12 16:54] #48 closed

[2021-06-13 12:44] thruthesky commented on #47
I got same warning.

[2021-06-19 18:47] fikretsengul commented on #47
Yes it still exists on [2.0.2+4] even the changelog says "Fixed Locale warning"

[2021-06-20 10:46] medyas commented on #41
@EngAL-shikh  can you provide more details ?

[2021-06-23 03:51] rymesaint commented on #47
the warning still exists

[2021-06-23 06:43] YouSour commented on #47
for me i forgot this line :
`await EasyLocalization.ensureInitialized();
`

[2021-06-23 06:46] YouSour commented on #47
any news about this problem ? any one can fix it ?

[2021-06-23 08:16] medyas commented on #47
@YouSour i don't think there is a fix right now for this.
it's just a warning and it won't effect the build process of the app

[2021-06-23 08:39] YouSour commented on #47
@medyas thank you for information , i hope we will find a solution soon 😄

[2021-06-24 19:30] Drolegc commented on #47
I will try to make a PullRequest "fixing" this warning.

[2021-07-06 08:01] YouSour commented on #47
@Drolegc ok i wait for it :)

[2021-07-07 15:23] fikretsengul commented on #47
@Drolegc Me too, thanks for your effort. :)

[2021-07-17 01:11] nguyenlinhnttu commented on #47
the warning still exists, can't build app.

[2021-07-20 16:37] maxTeste commented on #47
i'm having the error to, i think is similar

lib/main.dart:265:104: Warning: Operand of null-aware operation '!' has type 'Locale' which excludes null.
 - 'Locale' is from 'dart:ui'.
            if (supportedLocale.languageCode == locale!.languageCode && supportedLocale.countryCode == locale!.countryCode) {

can someone help me plssss

[2021-07-20 16:44] Drolegc commented on #47
It's a warning, not an error. Can you build the app? Or this warning does not allow it?

[2021-07-21 08:51] maxTeste commented on #47
@Drolegc yes i can build the app... but is a warning should be fixed
is there anything i can do to fix the warning?

[2021-07-21 22:42] fikretsengul commented on #47
Yes it should be. Also I'm using the null safety of flutter and I cannot run my app without --no-sound-null-safety flag just because this issue.

[2021-07-22 10:28] medyas commented on #47
just published a new version `2.1.0`, and removed `isRtl` method and by this the call to window.locale is removed, so the warnings will no longer be displayed.

[2021-07-22 10:28] #44 closed

[2021-07-22 10:28] #41 closed

[2021-07-22 14:26] YouSour commented on #47
@medyas thank you :)

[2021-07-30 06:17] arunkarthika opened #50 "Swipe up Drawer opens"
When we swipe up or down the drawer opens automatically.pls help me

[2021-07-30 08:46] medyas commented on #50
can you share your code

[2021-07-30 08:47] arunkarthika commented on #50
return ZoomDrawer(
      controller: _drawerController,
      style: DrawerStyle.Style1,
      menuScreen: MenuScreen(
        HomeScreen.mainMenu,
        callback: _updatePage,
        current: _currentPage,
      ),
      mainScreen: MainScreen(),
      borderRadius: 24.0,
     showShadow: true,
      angle: 0.0,
      mainScreenScale: .1,
      slideWidth: MediaQuery.of(context).size.width * (

[2021-07-30 08:56] medyas commented on #50
you can disable the swipe gesture and this will fix the issue

[2021-07-30 08:59] arunkarthika commented on #50
I tried also I got the same issue bro

[2021-07-30 08:59] arunkarthika commented on #50
return ZoomDrawer(
  controller: _drawerController,
  style: DrawerStyle.Style1,
  menuScreen: MenuScreen(
    HomeScreen.mainMenu,
    callback: _updatePage,
    current: _currentPage,
  ),
  mainScreen: MainScreen(),
  borderRadius: 24.0,
 showShadow: true,
  angle: 0.0,
  mainScreenScale: .1,
  slideWidth: MediaQuery.of(context).size.width * (isRtl ? .55 : 0.65),
  isRtl: isRtl,
  clipMainScree

[2021-07-30 09:02] arunkarthika commented on #50
How to disable swipe gesture bro

[2021-07-31 14:09] medyas commented on #50
well setting the disabled attribute to `true` shoulde disable all the gesture in the package. Are you implementing a custom logic ?

[2021-08-03 12:50] demsey2 opened #51 "integration with Navigator"
is it possible to integrate that plugin with Navigator?

[2021-08-04 08:49] medyas commented on #51
well you can do a custom implementation and make it work with Navigator

[2021-08-04 11:29] arunkarthika commented on #50
yes bro

[2021-08-04 12:19] medyas commented on #50
@arunkarthika  yes for custom logic ?

[2021-08-11 08:12] #51 closed

[2021-08-14 02:09] TrongTam29 opened #52 "Why I have error with "isRTL()" in "slideWidth: MediaQuery.of(context).size.width * (ZoomDrawer.isRTL() ? .45 : 0.65),""
import 'package:flutter/material.dart';
import 'package:flutter_zoom_drawer/flutter_zoom_drawer.dart';
import 'package:my_app/screens/home%20screen/home_screen.dart';
import 'package:my_app/screens/menu%20profile/menu_profile.dart';

class HomeScreen extends StatefulWidget {
  @override
  _HomeScreenState createState() => _HomeScreenState();
}

class _HomeScreenState extends State<HomeScreen> {

[2021-08-14 02:19] TrongTam29 commented on #52
The method 'isRTL' isn't defined for the type 'ZoomDrawer'.
Try correcting the name to the name of an existing method, or defining a method named 'isRTL'.

[2021-08-14 10:15] medyas commented on #52
The `isRtl` method is no longer available in the latest version of the package, you should develop your own method for checking the RTL direction.

[2021-08-14 10:15] #52 closed

[2021-08-16 09:20] EinatK commented on #41
This is what happens when not to set RTL . Used to work perfectly.
My device and app locale is English US

Any suggestions on a quick fix ? It's pretty urgent for me
![zoom_drawer_ltr](https://user-images.githubusercontent.com/16320455/129540923-afe064c1-afb2-4bd2-be3d-f211be24353d.jpg)

Just for reference - this is how it should look. The only thing that changed was setting isRtl: true on the dra

[2021-08-16 12:54] medyas commented on #41
@EinatK why are you setting `rtl` to true when your not support RTL direction in you app ?

[2021-08-16 13:03] EinatK commented on #41
@medyas This was initially an RTL demo app and then we wanted an English demo version so i removed the rtl support and set the drawer rtl to false and this was the result

[2021-08-16 13:05] medyas commented on #41
can you provide a working demo to reproduce this issue ?

[2021-08-16 14:22] EinatK commented on #41
Here you go, simple counter app with latest zoom drawer

https://github.com/EinatK/zoom_drawer_ltr_bug

[2021-08-16 15:09] medyas commented on #41
ok will check it when i have time

[2021-08-16 15:35] medyas commented on #41
@EinatK just published a new version with a fix

[2021-08-16 15:42] EinatK commented on #41
Wow you're fast!
Thanks dude working great ! Awesome package :)

[2021-08-31 16:48] nakshatrasinghh opened #53 "Issue with the package?"
Am I doing it correctly?

<img width="1440" alt="Screenshot 2021-08-31 at 10 15 21 PM" src="https://user-images.githubusercontent.com/53419293/131543185-8f012b6a-2367-4aab-ae75-2a308cfc7bd8.png">

Main Screen is returning a scaffold with appbar and Menu Screen is also returning a scaffold with appbar.

P.S. I am using MacBook Air M1

[2021-08-31 19:33] medyas commented on #53
wrap the `ZoomDrawer` widget with `MaterialApp` widget

[2021-09-01 03:33] nakshatrasinghh commented on #53
Yes, it works now. I'll close the issue now.

[2021-09-01 03:33] #53 closed

[2021-09-03 07:17] YouSour commented on #14
@medyas hi , i try to wrap it with singleChildScrollView but it isn't work, how to fix it ?

[2021-09-03 09:23] YouSour opened #54 "landscape mode have area error overflow"
hi , i just implement this package on project everything works fine , but it has a small problem on **_landscape mode have area error overflow_** like picture below , i try to wrap it with **SingleChildScrollView** but it still doesn't work , how can i fix this problem ?
thank in advance
![Simulator Screen Shot - iPhone 12 Pro Max - 2021-09-03 at 16 17 41](https://user-images.githubusercontent.com

[2021-09-03 11:40] #50 closed

[2021-09-03 11:42] medyas commented on #54
can you share a sample project ?

[2021-09-05 10:25] YouSour commented on #54
@medyas i'm using `flutter_zoom_drawer: ^1.0.5` my  implement just same as example app , i think example app it also has this error on landscape mode. here simple project [https://github.com/YouSour/project-1](https://github.com/YouSour/project-1)

[2021-09-05 10:27] medyas commented on #54
Can you try upgrading to the latest version and test again

[2021-09-05 10:29] YouSour commented on #54
@medyas i just need scrollable on landscape , bro , i don't know where should i wrap with SingleChildScrollView

[2021-09-05 10:56] medyas commented on #54
ok, will try to test the latest version in landscape and get back to you

[2021-09-06 00:00] YouSour commented on #54
@medyas noted

[2021-09-09 08:35] medyas commented on #54
hello @YouSour , you can wrap [Column](https://github.com/YouSour/project-1/blob/fb79b4cfc3220b1e77eca19185d24559fa53d1ca/lib/drawer.dart#L54) widget with `SingleChildScrollView` and just remove the `Spacer` widgets from the `Column`. You have 3 spacers, remove them and it should work.
PS: I tested this in the example app, and by wrapping the Column widget with SingleChildScrollView and removing a

[2021-09-09 08:35] #54 closed

[2021-09-09 12:03] Amr1440 opened #55 "Style1 has some kind of glitch when closing direction RTL"
When closing drawer using Style1 it shows weird transition

https://user-images.githubusercontent.com/52917852/132682351-2e6c805a-a259-45ef-9c6b-ca8f77b0075e.mp4

[2021-09-09 16:56] medyas commented on #55
can you share the config your using for the ZoomDrawer

[2021-09-09 17:27] Amr1440 commented on #55
return ZoomDrawer(
      isRtl: true,
      controller: _drawerController,
      menuScreen: MenuScreen(),
      mainScreen: MainScreen(zoomDrawerController: _drawerController),
      borderRadius: 24.0,
      backgroundColor: Colors.grey[300],
      showShadow: true,
      angle: 0.0,
      slideWidth: MediaQuery.of(context).size.width * .65,
      openCurve: Curves.fastOutSlowIn,
      closeCurv

[2021-09-10 06:43] YouSour commented on #54
@medyas thank you so much

[2021-09-11 13:38] medyas commented on #55
remove the closeCurve, as your setting it to bounceIn. Either remove it or set an other curve

[2021-09-11 13:38] #55 closed

[2021-09-12 05:23] Amr1440 commented on #55
thanks alot @medyas

[2021-09-13 16:01] Wentris71 opened #56 "DrawerStyle.Style3 animation artifact"
hi, I encountered next issue, using `DrawerStyle.Style3`.

on captured video there are two Style modes, but the problem is obvious with first one.

Tested on IOS(14+) Iphone 12 pro,  and `platform :ios, '12.0'`

https://user-images.githubusercontent.com/18560311/133117501-a513b006-6f12-4c54-9eb3-280218e678ff.mov

[2021-09-23 07:56] medyas commented on #56
@Wentris71 sorry for the late response. Unfortunately i dont't have access to a mac to test but this is related to Style3 effect as it offsets the menu page to outside the screen then translate it as needed and with the ios navigation transition does a swipe it is seen as an issue. To overcome this, i suggest to use a different style, as this is the desired effect by the style it just gets in conf

[2021-09-30 19:31] InfinityCoder88 opened #57 "Flutter_zoom_drawerand MaterialRoute navigation"
How to use flutter_zoom_drawer with MaterialRoute for navigation to other screens? I tried but unsuccessfully :(
It's possible, can you guys provide an example? Thanks in advance!

[2021-10-03 14:44] medyas commented on #57
you can do this using Nested Routes
https://flutter.dev/docs/cookbook/effects/nested-nav
https://stackoverflow.com/questions/48098085/nesting-routes-with-flutter

[2021-10-03 14:44] #57 closed

[2021-10-04 06:43] shiwam77 opened #58 "How can i save screen state cause right now everytime i switched the screen it rebuild the state ?"
AutomaticKeepAliveClientMixin is not working

[2021-10-04 07:32] medyas commented on #58
This is unrelated to the package.
You can use state management solution and it will allow you to achieve this. but you won't be able to save the full screen, just the logic/data which will reduce loading time.

[2021-10-04 07:32] #58 closed

[2021-10-16 21:40] yazeed-mohammad opened #59 "I faced issue when I change app language from ar to en and back"
Salam.

thanks for this wonderful library.

I faced issue when I change app language from English to Arabic or when change from Arabic to English.
the problem is menu screen not change direction and language until restart the app ,look at attachments please.

.
.

![Screenshot_1634419902](https://user-images.githubusercontent.com/35382725/137602658-f8fca096-1ff9-4c3d-97ad-6d44dc28316e.png)
![Scree

[2021-10-17 06:58] medyas commented on #59
you need to rebuild the drawer and pass it `isRtl` parameter to refresh its layout

[2021-10-17 18:19] hekhy opened #60 "There is no valid example"
The examples in the pub.dev readme page are very general and not fully understood and also in the example page the example that is posted is about another package called easy_localization, could you put it right?

[2021-10-18 00:45] vanyasem opened #61 "Style1 doesn't support BorderRadius"
Style1 doesn't support BorderRadius

[2021-10-18 00:46] vanyasem commented on #61
turns out i was missing clipMainScreen attr. my bad, silly me

[2021-10-18 08:49] medyas commented on #60
can you explain your issue more ? like whats your problem ?

[2021-10-19 04:14] titoworlddev commented on #60
Do I really have to explain it more? I have already said that there is no valid example, the example here
![Captura de pantalla de 2021-10-19 06-03-52](https://user-images.githubusercontent.com/70041483/137842473-ed6e066c-158e-45f7-8957-9437f5907b86.png)
it is about another package and does not refer to it.

And here in the readme section
![Captura de pantalla de 2021-10-19 06-09-06](https://user-

[2021-10-19 10:02] medyas commented on #60
The example code provided in pub.dev is only the entry point of the example app. If you want to check the full example project, you can find it in the repo. The project is split into multiple files for better structure and the easy_localization is the localization package used to show support for both LTR & RTL.
If you want details about how to use the parameters you can check the package docs.
La

[2021-10-19 10:02] #60 closed

[2021-10-19 10:03] medyas commented on #59
could you provide sample code

[2021-10-20 19:09] yazeed-mohammad commented on #59
when I rebuild layout, work fine.
thank you very much bro <3

[2021-10-23 17:51] shadycyan opened #62 "rotate not working"
Hi, I recently use your package and face this weird issue that no matter what number I put for angle rotate value (between 0 to -30.0), it's not working...

[2021-10-29 20:02] RazaShabbir-vrc opened #63 "Color issue [default]"
Hey, sorry. I was using this package and I can't seem to change this color. Help would be appreciated.
From color I mean the lower shade that you guys can see (blue).
![image](https://user-images.githubusercontent.com/85259282/139494931-a39d9770-c8c5-4005-8e44-a29dc59243f5.png)
![image](https://user-images.githubusercontent.com/85259282/139495052-1e5f6963-98d7-41d8-8d6a-1b511f421920.png)

[2021-10-29 20:07] medyas commented on #63
so you want to change the blue color ?

[2021-10-29 20:14] ghost commented on #63
Yes.

[2021-10-29 20:54] medyas commented on #63
well you should check where are you creating the gradient and update the color

[2021-10-29 20:54] #63 closed

[2021-11-02 07:24] medyas commented on #62
@shadycyan sorry for the late response. Will try to check this and get back to you.

[2021-11-04 08:27] #59 closed

[2021-11-04 08:27] #56 closed

[2021-11-08 10:59] minhnhatvdl opened #64 "Lost a position of listview when sliding drawer"
Hello,
I have a home page with a listview. I have a problem when i slide a drawer.
I lost a position of listview when i do this action. The position return to the top of listview (offset 0).

Anyone has the same problem with me ?
Thank you very much for your help.

[2021-11-08 11:01] medyas commented on #64
you could keep you scroll with PageStorageKey or using scroll notification listener and listen for scroll end and save the scroll position then provide it to the listview in scrollcontroller. You can Google for more details.

[2021-11-08 11:01] #64 closed

[2021-11-08 11:12] minhnhatvdl commented on #64
I tested it with  PageStorageKey but i always have the problem.

[2021-11-08 11:21] medyas commented on #64
@minhnhatvdl than use , also maybe keep the offset in the home screen and no tin the page it self, as it will be destroyed.

[code]

[2021-11-08 11:48] minhnhatvdl commented on #64
Cool thank you bro !!!

[2021-11-09 15:45] medyas commented on #62
@shadycyan could you provide which style you were using ?

[2021-11-13 05:26] arungeodexia opened #65 "WEB view not scrolling"
WEB view not scrolling

[2021-11-13 09:12] medyas commented on #65
Could you provide more details ! and reproducible code

[2021-11-15 12:16] CatEatFishs commented on #65
I have the same proble，webView not scroll 。
--------------------------------------
flutter doctor -v：

 Flutter (Channel stable, 2.2.0, on macOS 11.3.1 20E241 darwin-x64, locale zh-Hans-CN)
    • Flutter version 2.2.0 at /Users/admin/develop/flutter
    • Framework revision b22742018b (6 months ago), 2021-05-14 19:12:57 -0700
    • Engine revision a9d88a4d18
    • Dart version 2.13.0
    • Pub dow

[2021-11-15 12:52] CatEatFishs commented on #65
I have solved the problem；
The reason is that webView scroll and ZoomDrawer GestureDetector event Sliding conflict（滑动冲突），
I set a variable to control whether the GestureDetector's onPanUpdate event is null，
-------------
[code]

[2021-11-15 12:53] CatEatFishs commented on #65
加一个变量，就可以解决，
bool isLoadWebView;//如果是webView页面，需要置为false，否则webView的滑动会跟ZoomDrawer 的GestureDetector 产生滑动冲突
上面的回复已经贴了代码

[2021-11-15 13:50] medyas commented on #65
@CatEatFishs thanks!

[2021-11-15 13:50] #65 closed

[2021-11-17 10:34] huanlirui commented on #62
i face same issue

[2021-11-17 16:44] medyas commented on #62
@huanlirui could you provide which style you were using ?

[2021-11-18 02:14] huanlirui commented on #62
@medyas  Please look at my code. I don't know which section of code is missing, which leads to this error
![image](https://user-images.githubusercontent.com/40491203/142338903-6f7f4c3d-9ccf-461e-9ff2-7ff968f6e089.png)

[2021-11-19 02:36] huanlirui commented on #62
help help

[2021-11-19 14:09] medyas commented on #62
@huanlirui try to replace it with the `call` method.
[code]

[2021-11-22 07:58] shadycyan commented on #62
I tried drawerController.toggle?.call() now, and it still rotation not working.

this is my style config:

final _drawerController = ZoomDrawerController();

ZoomDrawer(
          controller: _drawerController,
          menuScreen: const MenuScreen(),
          mainScreen: const MainScreen(),
          isRtl: true,
          borderRadius: 24.0,
          mainScreenScale: 0.15,
          angle: -1

[2021-11-23 07:46] medyas commented on #62
@shadycyan i just tested the example app and its working, so this is probably an issue with your implemented code.
could you provide a a reproducible sample app with this issue ?

[2021-11-24 04:12] YouSour commented on #52
@medyas i don't know how to check the RTL Direction , can you show me how can i do it ?

[2021-11-24 12:09] medyas commented on #52
@YouSour well this will depend on what you use in ur app. To check with the current system language you can check the old implementation of `isRtl` https://github.com/medyas/flutter_zoom_drawer/blob/ae2c642e1da73ae96ff877ed86696ee84d1fa5a8/example/lib/main.dart#L52

[2021-11-28 08:06] EinatK opened #66 "Navigate back and forth from drawer menu with voice over"
Hi,
I have an issue with not being able to easily move to the drawer menu and back when voice over is activated.
Could you help ?

[2021-11-28 08:57] medyas commented on #66
@EinatK  could you provide more details about the issue ? and maybe a sample code

[2021-11-28 10:30] EinatK commented on #66
I don't have time right now to write a sample code, will try to do it soon.. the issue is when voice over is activated and you open the drawer menu the navigation doesn't continue to the drawer menu and i'm stuck on the main page. I have to actively tap on something inside the menu to move the accessibly focus which is not a good solution as a blind person won't see where to tap.
The expected beha

[2021-11-28 14:47] EinatK commented on #66
@medyas I figured it out.. it does work, it just doesn't support RTL . meaning if my drawer menu is opening on the right side i need to keep swiping left until i get to the menu, which is counter intuitive.

[2021-11-28 14:58] #66 closed

[2021-12-08 08:53] lhvan89 opened #67 "Can I have a simple example, please?"
Can you provide a simple way to use this library? no need to use easy_localization, provider. I'm really confused with the current example. And don't know how to integrate it into my current project.

[2021-12-08 15:31] JesusHdezWaterloo commented on #67
same problem

[2021-12-08 16:33] JesusHdez960717 commented on #67
@lhvan89 hope this help:
[code]

[2021-12-08 16:53] JesusHdez960717 commented on #62
@shadycyan, rotation it's not working because you are using the default styling, if you take a look under the hood, the `renderDefault()` method in `flutter_zoom_drawer` don't take into account the angle, I solve this same issue by using the DrawerStyle.Style1. Here is my ZoomDrawer's config:
[code]

If need more info on my answer, look at the Issue #67 for a 'complete' simple example.
Hope this h

[2021-12-09 02:14] lhvan89 commented on #67
Thank @JesusHdezWaterloo, Everything becomes easier with your help.

[2021-12-09 07:07] #67 closed

[2021-12-13 09:07] multi-net opened #68 "Closing the menu by navigation works from one direction."
When I open the menu in RTL, I can close it by pulling the main screen. But if I open it in LTR, I can't close it by pulling. I have to click on the the menu button in the appbar to close it (Bad UX).
What's wrong?

[2021-12-13 09:40] medyas commented on #68
@multi-net please provide a sample project

[2021-12-13 12:09] multi-net commented on #68
`ChangeNotifierProvider(
      create: (context) => HomeProvider(),
      builder: (context, child) {
        final provider = context.watch<HomeProvider>();
        return Scaffold(
          body: ZoomDrawer(
            isRtl: provider.rtl(),
            angle: 0.0,
            slideWidth: Consts.width * .50,
            controller: provider.drawerController,
            backgroundColor: Consts

[2021-12-13 12:09] multi-net commented on #68
[code]

[2021-12-13 12:10] multi-net commented on #68
`isRtl` property has this function implementation:
`bool rtl() => _localeStorage.getLocale() == 'ar' ? true : false;`

[2021-12-13 15:26] medyas commented on #68
@multi-net just published a new version with a fix and a way for more flexibility.
`flutter_zoom_drawer: ^2.1.2`

[Changelog](https://pub.dev/packages/flutter_zoom_drawer/changelog#212) You can use `swipeOffset` to provide the user swipe gesture width(defaults to 6.0). with this, you can have a custom offset based on ur needs.

[2021-12-13 15:26] #68 closed

[2021-12-14 12:15] multi-net commented on #62
I have the the same issue but when changing app locale!
I mean rotation works fine at first, but when I change app Locale and the UI reversed the toggle method doesn't work

[2021-12-14 12:18] medyas commented on #62
@multi-net could you provide more details & sample code

[2021-12-14 12:22] multi-net commented on #62
[code]

[2021-12-14 12:23] multi-net commented on #62
![image](https://user-images.githubusercontent.com/94140926/145997658-b3f6d4bd-3ed8-456c-bbb5-7dd87a986898.png)

[2021-12-14 12:24] multi-net commented on #62
when I call this function in the image. the toggle doesn't work

[2021-12-14 12:25] multi-net commented on #62
my toggle function

![image](https://user-images.githubusercontent.com/94140926/145997914-a9ac445d-fb30-470b-a38b-14e18fa74a5b.png)

[2021-12-14 12:29] multi-net commented on #62
for more details:
If you noticed, I am using provider. The problem happened when i have just used proxy provider

[2021-12-14 12:33] medyas commented on #62
so technically this is not related to the package it self. maybe remove the proxy provide and that should fix it.
in here, try updating the HomeProvider instance and not returning a new instance, maybe this will fix it
[code]

[2021-12-14 12:43] multi-net commented on #62
awesome!
I just returned the previous `HomeProvider` provider instead of new one.
thanks a lot

[2021-12-14 12:45] medyas commented on #62
Closing as it turned out its not related to the package it self rather to how its used in apps.

[2021-12-14 12:45] #62 closed

[2021-12-20 22:05] JeremiahW27 opened #69 "ZoomDrawer.isRTL() not working."
Inside this code is the slideWidth: row and it contains ZoomDrawer.isRTL() pasted exactly from your site. However I am getting the error under isRTL "The method 'isRTL' isn't defined for the type 'ZoomDrawer'. Try correcting the name to the name of an existing method, or defining a method named 'isRTL'."

`class _MyHomePageState extends State<MyHomePage> {
  final drawerController = ZoomDrawerCont

[2021-12-20 22:08] medyas commented on #69
The isRtl method has been removed. You should implement you own logic for checking this.

[2021-12-20 22:20] JeremiahKW commented on #69
It should be removed from the flutter pub.dev then. Thanks

[2021-12-23 13:26] #69 closed

[2021-12-24 08:14] Crucialjun opened #70 "MaterialRoute Navigation"
Does this package support material route navigation, if yes how can it be enabled because hitting the back button from any screen navigated to closes the entire app

[2022-01-18 12:42] vptcnt commented on #44
Hello.. I would like to suggest the possibile to change the 2 colors/opacity of the shadow

[code]

[2022-01-18 12:44] medyas commented on #44
@vptcnt will work on this for the next release

[2022-01-18 16:13] medyas commented on #70
related to #57

[2022-01-18 16:13] #70 closed

[2022-01-19 05:22] Princewil opened #72 "DrawerStyle.Style1 does not respond to border radius"
My code
![16425696581904076384782756733795](https://user-images.githubusercontent.com/40724883/150069001-76494a46-9b44-491c-bba0-ab9b1127814e.jpg)

Outcome
![Screenshot_20220119-061908](https://user-images.githubusercontent.com/40724883/150069045-a8249fcf-52cf-460e-a7e5-1a3a63711455.png)

I'm I missing something

[2022-01-19 05:24] Princewil commented on #72
By the way, Package version=> is 2.2.1

[2022-01-19 07:10] medyas commented on #72
@Princewil thanks, will try to work on a fix later today

[2022-01-19 13:11] vptcnt commented on #72
I have the same problem with the last version 2.2.1
With Style1, the border radius is only during the transition Open -> Close

[2022-01-19 13:15] vptcnt commented on #44
Just update the package.. and it works....
The only problem I have now is the border radius in style1
https://github.com/medyas/flutter_zoom_drawer/issues/72#issuecomment-1016452029

[2022-01-19 19:33] medyas commented on #72
should be fixed

[2022-01-19 19:33] #72 closed

[2022-01-20 00:15] Princewil opened #73 "Previous version 2.2.1 saves page state while current version (2.2.2) don't"
While testing the new version, I realized that, unlike the previous version (2.2.1) the page state in the current version(2.2.2) is not saved when menu is open.

Compare this two shots and observe the change in color on the main screen when the menu is open.

https://user-images.githubusercontent.com/40724883/150238815-ad398332-6999-47af-8918-4c92594d214a.mp4

https://user-images.githubusercontent

[2022-01-20 07:28] medyas commented on #73
@Princewil could you provide a sample project for the issue

[2022-01-20 09:30] Princewil commented on #73
Click on this links.

**Here Main screen page state is not saved (Version 2.2.2)**
https://user-images.githubusercontent.com/40724883/150238815-ad398332-6999-47af-8918-4c92594d214a.mp4

**Here Main screen page state is saved (Version 2.2.1)**
https://user-images.githubusercontent.com/40724883/150238912-cbf74b70-b7db-4f2f-ba39-19239a14e391.mp4

[2022-01-20 09:40] medyas commented on #73
@Princewil these are videos, do you have sample code ?

[2022-01-20 12:17] Princewil commented on #73
This is sample code.

![150069001-76494a46-9b44-491c-bba0-ab9b1127814e](https://user-images.githubusercontent.com/40724883/150336630-b29dc681-c02c-4e30-aa52-04af880d6481.jpg)

I used this same code for both versions. Version 2.2.1 saved page state but didn't respond to border radius. While version 2.2.2 responded to border radius but didn't save page state (as shown in the previous videos)

[2022-01-20 14:39] medyas commented on #73
@Princewil could you share the whole project so i can test with it ?

[2022-01-20 20:19] Princewil commented on #73
Sorry for the long code. Just copy and paste and you are good to go.

void main() {
  WidgetsFlutterBinding.ensureInitialized();
  SystemChrome.setSystemUIOverlayStyle(const SystemUiOverlayStyle(
    statusBarColor: Colors.transparent,
    statusBarIconBrightness: Brightness.dark,
  ));
  runApp(const MyApp());
}

const Color p = Color(0xff416d69);

class MyApp extends StatelessWidget {
  const My

[2022-01-20 20:21] Princewil commented on #73
`void main() {
  WidgetsFlutterBinding.ensureInitialized();
  SystemChrome.setSystemUIOverlayStyle(const SystemUiOverlayStyle(
    statusBarColor: Colors.transparent,
    statusBarIconBrightness: Brightness.dark,
  ));
  runApp(const MyApp());
}

const Color p = Color(0xff416d69);

class MyApp extends StatelessWidget {
  const MyApp({Key? key}) : super(key: key);

  // This widget is the root of y

[2022-01-20 20:25] Princewil commented on #73
Sorry for the long code. Just copy and paste and you are good to go......

[code]

[2022-01-25 08:20] medyas commented on #73
@Princewil added the fix

[2022-01-25 08:20] #73 closed

[2022-02-03 15:53] LiRenGuo opened #75 "提示找不到这个属性ZoomDrawer.isRTL()"
我使用文档中提供的例子，找不到这个属性
![1643903359185](https://user-images.githubusercontent.com/42966080/152377721-8cd9b926-7ebb-4936-b506-ad8999c142fe.jpg)

使用的Flutter版本是
![1643903467427](https://user-images.githubusercontent.com/42966080/152377937-97b9c92e-2335-4508-b38a-9d04ad2f910c.jpg)
Flutter doctor 情况
![1643903519257](https://user-images.githubusercontent.com/42966080/152378122-df708268-6582-4e41-b12a-4d63e

[2022-02-07 02:16] #75 closed

[2022-02-09 08:18] Amr1440 opened #76 "main screen reload state when drawer get closed"
Is it normal that main screen reload state whenever drawer get closed ?

[code]
using   flutter_zoom_drawer: ^2.3.0

[2022-02-09 11:45] medyas commented on #76
could you provide sample code of you implementation

[2022-02-09 12:01] Amr1440 commented on #76
[code]

[2022-02-10 11:09] Amr1440 commented on #76
@medyas

[2022-02-10 12:47] medyas commented on #76
@Amr1440 could you test the latest version

[2022-02-13 11:26] Amr1440 commented on #76
Its working fine now thanks alot
version: 2.3.1
@medyas

[2022-02-14 14:46] mustafafalah17 commented on #76
Hi
I have the same issue when I open or close the drawer, the home page is reloaded
version: ^2.3.1

[2022-02-14 15:40] medyas commented on #76
@mustafafalah17 could you provide more details, as this should be fixed in the latest version

[2022-02-14 15:46] mustafafalah17 commented on #76
I think this happen because this code
![image](https://user-images.githubusercontent.com/46872359/153896271-3c6f9530-833a-4605-a3e4-0d6412b769b6.png)

so when i open or close the drawer the GestureDetector rebuild the main screen ,

if i make the mainScreenTapClose : false the issue didn't happen but i cant close the drawer when i click on the main screen
@medyas

[2022-02-14 16:22] medyas commented on #76
Than you can just set `mainScreenTapClose` to `false`

[2022-02-14 16:27] mustafafalah17 commented on #76
![image](https://user-images.githubusercontent.com/46872359/153904027-65bb8314-9a42-4b90-82d7-1fc6aeb84fbc.png)

I solved it locally by moving the code to the main GestureDetector in builder widget

[code]

[2022-02-20 11:14] #76 closed

[2022-02-22 07:52] shadycyan opened #77 "mainScreen rebuild every time after opening drawer, is it normal?"
mainScreen rebuild every time after opening drawer, is it normal?

flutter_zoom_drawer ver 2.3.1

[2022-03-03 02:45] mendieta commented on #76
any plans on implementing @mustafafalah17 fix on a next release?  @medyas ?

[2022-03-03 10:38] medyas commented on #76
@mendieta already added the changes, but did not create a release.
 will try to have this done in the weekend.

[2022-03-07 11:15] eslamene commented on #76
@medyas Still, the same issue exists, and I'm still waiting for your release fix

[2022-03-07 13:32] medyas commented on #77
@shadycyan could you try testing with the latest version `2.3.1+1`

[2022-03-07 13:32] medyas commented on #76
@eslamene could you try testing with the latest version `2.3.1+1`

[2022-03-08 06:41] shadycyan commented on #77
it got fixed in this version

thanks so much for your awesome support & this amazing drawer :)

[2022-03-08 11:50] medyas commented on #77
welcome

[2022-03-08 11:50] #77 closed

[2022-03-28 17:10] YDA93 opened #78 "Close drawer on click - Feature request"
I kindly would like to raise a feature request where we can close drawer by only clicking on the widget instead of only swiping.

I tested my app and many users didn't figure out how to close the drawer.

My current workaround:
[code]

Thanks!

[2022-03-28 18:38] medyas commented on #78
@YDA93 This is already available in the package. you can set `mainScreenTapClose` to `true` in the `ZoomDrawer` and it will allow you to close the drawer when its open by tapping on the main screen.

[2022-03-28 18:38] #78 closed

[2022-03-28 20:27] YDA93 commented on #78
@medyas Yes I miss that!

Would you consider absorbing the pointer too? Clicking on any button from within the screen wouldn't close the drawer.

[2022-03-28 20:31] medyas commented on #78
its was implemented like that before, but it caused issues with main screen losing its state.
You can listen to the drawer state and rebuild your screen with a absorber if its open.

[2022-03-29 06:30] YDA93 commented on #78
@medyas Wouldn't make sense to at least include this option in the package? I can PR

[2022-03-29 17:43] YDA93 opened #80 "mainScreenTapClose is not respecting its value"
Setting mainScreenTapClose to true is being ignored when the app freshly started or when hot restart is performed causing to ignore all tabs within mainScreen.

[2022-03-29 18:17] #80 closed

[2022-03-30 12:26] YDA93 opened #82 "mainScreen absorb pointer"
We need a way to absorb the main screen pointer while the drawer is open.

It's just not convenient to miss click another active gestures while we are trying to close drawer.

I am thinking of something like wrapping the mainScreen inside a Stack and adding another child with max width and height that listens to a  Absorbing Value notifier.

This will avoid any rebuild to mainScreen and will toggl

[2022-03-30 12:33] YDA93 commented on #82
If it was implemented before? may I know in which commit it was removed?

[2022-03-30 15:49] medyas commented on #82
Don't remember where exactly it was remove, but will test your implementation.
Thanks!

[2022-03-30 16:21] YDA93 commented on #82
I am not sure how it was implemented, but definitely warping mainScreenContent with AbsorbPointer isn't the right way.
Will costly rebuild the mainScreen and might cause outdated _isAbsorbing value due being called from a widget function.

[2022-03-30 17:49] YDA93 opened #84 "Draggable drawer - Feature request"
Influenced by https://github.com/AhsanAyaz/flutter_drawer_animation/blob/master/lib/components/AppDrawer.dart

Drawer should be animated based on dragging not only swipe similar to the one in link.

[2022-03-30 17:59] YDA93 commented on #84
It is not hard to implement but only time consuming since we have many styles.

[2022-03-31 11:21] YDA93 opened #85 "Close drawer on android back button - Feature request"

[2022-03-31 19:33] AEstrellaS opened #86 "mainScreenTapClose does not work when widget is interactable"
When drawer is opened, tapping the main screen interacts with widgets instead of closing the drawer.

[2022-03-31 20:54] YDA93 commented on #86
Is fixed in https://github.com/medyas/flutter_zoom_drawer/pull/79

Just wait for next pub.dev update

[2022-03-31 20:55] AEstrellaS commented on #86
Thank you very much for the fast response. Best,

[2022-03-31 20:55] #86 closed

[2022-03-31 21:03] YDA93 commented on #86
You are welcome.
You can use my forked version for the meantime until the official package is updated:

[code]

[2022-04-07 16:36] #85 closed

[2022-04-07 16:37] #82 closed

[2022-04-08 13:28] visign3d opened #88 "BoxShadow not visible in defaultStyle"
BoxShadow not visible in defaultStyle, its visible in other styles.

[code]

[2022-04-10 08:34] wolnynick opened #91 "Issue with WillPopScope"
[code]

This code should be removed, because it's overriding all back arrows in app. Setting `androidCloseOnBackTap` to false not helps. When I comment this part of code then everything works like a charm.

Eventually it can be like that (but `androidCloseOnBackTap` should have default value false):

[code]

[2022-04-10 11:45] #91 closed

[2022-04-10 12:38] medyas commented on #88
@visign3d could you check if this fixed in latest release

[2022-04-10 16:02] Paroca72 opened #92 "Missing background under floating part"
After migrate from 2.x to 3.1 missing the background under the floating part.

[code]

Where DrawerPage and PageSelector are both Scaffold wrapped in a custom Theme with own background color.
in the linked image you can see that the DrawerPage scaffold not cover anymore the whole screen with.

[Image](http://sccomponents.com/1.jpg)

Thanks for your help

[2022-04-11 13:14] visign3d commented on #88
checked, all good ! thanks!

[2022-04-11 15:30] wolnynick commented on #92
That was in 3.0.0 too. If you want to fix it quickly just add color to `menuBackgroundColor`

[2022-04-11 18:39] #88 closed

[2022-04-11 18:42] medyas commented on #92
@Paroca72 just set `menuScreenWidth` to `double.infinity` which will make it fill the whole page width and with this you will get the menu background color

[2022-04-11 18:42] #92 closed

[2022-04-12 13:24] YDA93 opened #93 "Migrate to classes instead of function widgets"
Using function widgets is not recommended by flutter.

### References
According to https://www.youtube.com/watch?v=IOyq-eTRhvo , this affects Performance, Testability, and Accuracy

https://stackoverflow.com/questions/53234825/what-is-the-difference-between-functions-and-classes-to-create-widgets/53234826#53234826

https://github.com/flutter/flutter/issues/19269

### How should this be fixed?

I w

[2022-04-12 18:30] HiraSharif123 opened #94 "Option to change Main Screen's position vertically (i.e. Up or Down according to screen height)."

[2022-04-13 07:04] Tend-P-Taoist opened #95 "How get gradient color menu bg like example pics"
only menuScreenOverlayColor ,give one color

[2022-04-13 16:44] medyas commented on #95
this can be found in the example app code https://github.com/medyas/flutter_zoom_drawer/blob/6d9247610938e44e399780f58c55e1354add389d/example/lib/menu_page.dart#L34

[2022-04-13 16:44] #95 closed

[2022-04-14 14:14] patrick-enzo opened #96 "BoxShadow's Blur Radius Not Working in DefaultStyle"
Hello, I've upgraded to version 3.0.1 and it doesn't seem like the blurRadius is working properly when the style is set to the defaultStyle. I've tried it out in all the other styles and it looks like it's working as intended.

[code]

Thank you 🙏

[2022-04-14 16:09] YDA93 commented on #96
@medyas I will have a look into this and try a fix

[2022-04-14 16:11] YDA93 commented on #94
@HiraSharif123 Can you explain a bit more about the implementation you are looking for? and if this would fit all current styles or a new style needed?

[2022-04-25 19:09] #96 closed

[2022-04-25 23:15] YDA93 commented on #94
@medyas I don't believe this issue is related to the package.

[2022-04-26 18:34] biloo-dev opened #98 "googleMap not work after using ZoomDrawer!!"
Hi guys.
I have a map page that was working fine before using Zoom Drawer.
 When the  flutter inspector , I found that the moving event in the map did not work because of ZoomDrawer .

![2022-04-26_192122](https://user-images.githubusercontent.com/37638323/165368438-ba982bb3-ad3b-4a29-af1d-e40c2915a012.png)

![2022-04-26_192216](https://user-images.githubusercontent.com/37638323/165368506-2f810a38

[2022-04-28 08:23] medyas commented on #98
@biloo-dev the package uses `GestureDetector` and is capturing the user swipe events so they won't be received in the map.
the only fix, is to fork the package and remove the events.

[2022-04-28 08:23] #98 closed

[2022-04-29 06:55] anderscheow opened #99 "Incorrect opening and closing state"
The state return from `ZoomDrawerController.stateNotifier` is incorrect for opening and closing.

When I try to slide to open, the state return is `DrawerState.closing`; whereas slide to close, the state return is `DrawerState.opening`.

FY: `isRtl` = true

[2022-04-30 08:49] YDA93 commented on #99
@anderscheow  When you drag in/out, the state is always opening.

You can use DrawerLastAction if you want to know the last action from drawer whether it was opened or closed.

`context.drawerLastAction`

[2022-05-11 23:03] jamicko-tan-enzo commented on #96
@medyas  When you get the chance, may you please publish an incremental version of this package to reflect the fix for this issue. Thank you so much! 😄  🚀

[2022-05-18 14:35] Tristannos commented on #67
Yeah i have this, but how to i switch pages?

[2022-05-19 08:21] Tristannos opened #100 "Yeah this really helped, but how do i switch pages now??"
@lhvan89 hope this help:
[code]

_Originally posted by @JesusHdezWaterloo in https://github.com/medyas/flutter_zoom_drawer/issues/67#issuecomment-988974134_

[2022-05-19 13:50] JesusHdez960717 commented on #100
Can you elaborate what the 'change page' means? Use navigation, use an open container... Pliss explain so we can help

[2022-05-20 15:23] watsmyname opened #101 "Best way to use this package!"
Actually this is not the issue, but more like a question. I am pretty new to flutter, have just started a few days back, so please bear with me..

I have around 30 pages in my app.
1. So do I have to use ZoomDrawer widget  in all 30 pages and define parameters in all of them? If so later if something needs to be changed, I have to change on all pages? Isn't there a way to define this package once,

[2022-05-23 12:57] Tristannos commented on #100
well, i start on my " MAINSCREEN " Stateful widget but then i want to go to my " Calendar " Stateful widget ( Normally Navigator.push ).
but this works differently and i don't get to understand how you switch pages.

[2022-06-01 14:13] medyas commented on #99
@anderscheow could you provide more details about this issue

[2022-06-01 14:15] medyas commented on #100
@Tristannos check the full package example

[2022-06-01 14:15] #100 closed

[2022-06-01 14:25] medyas commented on #101
@watsmyname the package acts like a drawer, so so you can wrap your main screen with it and switch between pages either using nested navigation or checking for selected page to display.
define your controller once, and use it across the app(use provider/GetIt or other packages).
no need to dispose it manually as it will be automatically de allocated.

[2022-06-06 09:29] vumanhsn97 opened #102 "app slowly after few seconds when use style3 and animation"
I have an issue when I use style3 and animation widget. My application will be slowly after a few seconds. This is a video record about issue [video](https://www.loom.com/share/375955cc0b4b48a9a929527a14dd205b)

[2022-06-09 08:14] medyas commented on #102
@VanToan08 don't think if this is related to the package.
could you provide an example project

[2022-06-09 08:15] #101 closed

[2022-06-10 14:38] timtimtim123 opened #103 "Gradient background is not shown properly since 3.0.0 when zoomdrawer is open"
Hi there :)

Since i updated from` 2.3.1+1` to `3.0.2`, when i open the zoomdrawer it looks like this:
https://ibb.co/RbcDNGs

I dont know if the black background on the right half of the screen is an issue or a new function, but I dont found out how to stretch the gradientbackground over the hole screen.
Maybe with `drawerStyleBuilder`?😅

[2022-06-11 11:23] medyas commented on #103
@timtimtim123 its a new feature. You can set the menu background color by using `menuBackgroundColor`

[2022-06-11 11:23] #103 closed

[2022-06-13 02:08] vumanhsn97 commented on #102
You can check with this code [example](https://drive.google.com/file/d/1ptlxGlhIocs3e6HBsR7cb5XfkSoRaULF/view?usp=sharing)

[2022-07-10 18:33] manigaalex6 opened #105 "Bad animation"
Hello!

I really love this menu and I want to use it in my application. but I have a problem I can't solve by myself.
I posted it on stack overflow: https://stackoverflow.com/questions/72930878/flutter-flutter-zoom-drawer

Thank you!

[2022-07-14 09:40] hantsaniala opened #106 "Showing snack bar inside drawer return black screen"
Following the default example, I'm ending with these codes, but when `onTap` on the `ListTile` end up with a black screen and the following on the log:

[code]

**Navbar.dart**
[code]

**NavBar_controller.dart**
[code]

**HomeScreen.dart**
[code]

[2022-07-14 10:01] hantsaniala opened #107 "Opening the drawer after using material back button return assertion error"
When navigating to another page which have his own drawer and going back with the physical button, an animation error like the following was thrown:

[code]
**NavBar_controller.dart**
[code]

[2022-07-15 08:13] medyas commented on #107
@hantsaniala you called this method after disposing of the Drawer widget and your screen.
you should not call toggle after closing the screen.
if try to add checks in the method to verify that the widget is still mounted.

[2022-07-15 08:13] #107 closed

[2022-07-15 08:15] medyas commented on #106
@hantsaniala you should not call `Navigator.of(context).pop();` inside the `showSnackbar` method as your removing your screen from the navigation stack and this will cause it to display a black page.
Remove `Navigator.of(context).pop();` and replace it with `toggle` or `close` methods of the drawer.

[2022-07-15 08:15] #106 closed

[2022-07-15 09:03] medyas commented on #105
@manigaalex6  your using the wrong drawer config to create this [UI](https://i.stack.imgur.com/fXujY.png).
[code]

[2022-07-15 09:03] #105 closed

[2022-07-15 09:06] medyas commented on #99
@anderscheow after checking, i think its caused by the `AnimationController.fling()` method, as its calling both animation `forward` & `reverse`. I added some checks to try and dismiss the extra unwanted animation status that causing this issue.
You can find this in the latest release.
will close this, and you can reopen if the problem still exists.

[2022-07-15 09:06] #99 closed

[2022-07-15 09:24] medyas commented on #102
@vumanhsn97 you example is poorly implemented, and as i said before this is not related to the package but to your code.
your doing alot of heavy work in a single statefull widget and requesting rebuilds with no optimization.

[code]

[2022-07-15 09:24] #102 closed

[2022-07-20 09:21] SweetDianDian opened #108 "About sliding awaken"
How do I slide out of a Drawer ， when i use  attribute `disableGesture`  it doesn‘t take effect

[2022-07-20 09:45] #108 closed

[2022-08-13 19:45] Technorocker opened #109 "Ability to change selected highlight"
Hello and thank you for this plugin, its such a great visual addition to my app. I'm not sure if its possible or not but I am using this with 5 or 6 menu pages and it works great so far. What I ran into is that I also use convexAppBottomBar plugin, and when I open the zoomdrawer and select a page to go to the selected page on menu gets highlighted as is should. but that page is nested in a similar

[2022-09-04 21:36] Ghost562562 opened #110 "Shrinks everything 50 percent after navigating"
Plugin works fine, i set my menu items and their routes. But when i navigate one of my page, every other pages get shrinked about 50 percent. All my app changes. Im using sizer package on my app. I realise when set my size values with sizer, it happens. But if i dont set values and just use flex this does not happen.

[2022-09-10 08:04] Kennexcorp opened #111 "Remove space between menu and drawer"
![image](https://user-images.githubusercontent.com/15014822/189474794-5e4a20ba-4487-4243-8867-1f88932d2de6.png)

Hi,

I've been trying to remove the space between the drawer and Menu... because I need to apply different color styling. Is this possible with the package? If so, how can I? Thanks

[2022-09-19 22:20] AgustinV08 opened #112 "ZoomDrawer.of(context) returns null"
When using this package and trying to implement the Zoom Drawer class and toggle the state with a button, the static function returns null.

Here's my code

[code]

[2022-10-14 18:46] medyas commented on #112
@AgustinV08 Wrap your `IconButton` with a `Builder` widget, and use the builder context to access the `ZoomDrawer`

[2022-10-14 18:46] #112 closed

[2022-10-14 18:48] medyas commented on #109
@Technorocker the plugin does not keep the status of the selected item, this is managed by your implementation of the menu widget. So this is not related to the plugin.

[2022-10-14 18:48] #109 closed

[2022-10-14 18:49] medyas commented on #110
@Ghost562562 maybe sizer is setting this settings to the drawer widget.
could you share an example to this issue ?

[2022-10-14 18:51] medyas commented on #111
@Kennexcorp could you share an example project

[2022-10-20 09:17] sagarsmartsense opened #113 "Sidemenu widget build again"
I have an inner screen in one of the menu items on the side menu. In which I have a text field. While opening/closing the keyboard on that text field, the side menu widget rebuilds again which causes an issue in the application.

[code]
Here the main screen rebuilds again.

[2022-11-11 10:10] Leekogram opened #114 "Can't set gradient color as menuBackgroundColor"
Hello, Is there a way i can set gradient as the color of the menuBackgroundColor of the zoom drawer.. i am working with a mock up that requires me to do that.

[2022-11-24 11:46] medyas commented on #114
deplicate #95
this can be found in the example app code https://github.com/medyas/flutter_zoom_drawer/blob/6d9247610938e44e399780f58c55e1354add389d/example/lib/menu_page.dart#L34

[2022-11-24 11:59] medyas commented on #113
@sagarsmartsense could you share an example app

[2022-11-24 12:26] sagar-maiyad commented on #113
I replaced it with another library after waiting for a long.

[2022-11-24 12:28] #113 closed

[2022-11-24 19:47] mingqlin opened #115 "Slide to open doesn't work when main screen has horizontal view pager"
To reproduce, use example code part of this project:

https://raw.githubusercontent.com/medyas/flutter_zoom_drawer/master/example/lib/main.dart

user can't swipe to open zoom drawer from main screen, it appears TabBarView blocks the swipe event from reaching GestureDetector in Zoom Drawer